/*
Website Name: Demo For OpenDrawing - Feras Al Masri
Website URL: N/A
Version: 1.0
Author: Assem Zakaria
Author URL: N/A

1.  Basics
2.  Header
3.  Footer
4.  Elements
5.  Portfolio
6.  Pages
7.  Blog
8.  Transitions
9.  Media Quieries
*/


/*
================================================================
================================================================
	Basics
================================================================
================================================================
*/

    /* ---------------------- */
    /* Variable               */
    /* ---------------------- */    
        html {
            scroll-behavior: smooth;
            overflow-x: hidden;
        }

        html.no-scroll {
            overflow-y: hidden;
        }


    /* ---------------------- */
    /* Global                 */
    /* ---------------------- */


        @font-face {
            font-family: 'Poppins Regular';
            src: url('../includes/font/Poppins-Regular.eot');
            src: url('../includes/font/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
                url('../includes/font/Poppins-Regular.woff2') format('woff2'),
                url('../includes/font/Poppins-Regular.woff') format('woff'),
                url('../includes/font/Poppins-Regular.ttf') format('truetype'),
                url('../includes/font/Poppins-Regular.svg#Poppins-Regular') format('svg');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }


        body {
            font-family: Poppins Regular;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0px;
            overflow-x: hidden;
            overflow-y: hidden;
            font-weight: normal;
            cursor: default;
            z-index: 0;
            color: #000;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        p {
            /* -webkit-font-smoothing: antialiased; */
            font-weight: normal;
            color: #000;
        }
        a {
            color: #ffffff;
        }
        ul {
            font-size: 0;
        }
        ul li {
            font-size: 16px;
        }
        h1, h2, h3, h4, h5, h6 {
            letter-spacing: 0;
            font-weight: normal;
        }
        h1 {
        	font-size: 48px;
        	line-height: 52px;
        }
        h2 {
        	font-size: 32px;
        	line-height: 42px;
        }
        h3 {
        	font-size: 20px;
        	line-height: 35px;
        }
        h4 {
        	font-size: 18px;
        	line-height: 31px;
        }
        h5 {
        	font-size: 14px;
        	line-height: 25px;
        }
        h6 {
        	font-size: 13px;
        	line-height: 20px;
        }
        section {
            position: relative;
        }
        /* width */
        ::-webkit-scrollbar {
            width: 4px;
        }
        /* Track */
        ::-webkit-scrollbar-track {
            background: rgba(0, 42, 245, 0.3);
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #3a3af4;
            /* border-radius: 13px; */
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #59bc7d;
        }

        ::selection {
            background-color: #59bc7c;
            color: #002af5;
        }
        ::-moz-selection {
            background-color: #59bc7c;
            color: #002af5;
        }








/*
================================================================
================================================================
	Header
================================================================
================================================================
*/








/*
================================================================
================================================================
    Main
================================================================
================================================================
*/

    #glucose_level_animation {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80vw;
        background-color: white;
    }

    #glucose_level_animation > svg {
        border-radius: 25px;
        border: 1px #e2e2e2 solid;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }

/*
================================================================
================================================================
    Footer
================================================================
================================================================
*/



    


/*
================================================================
================================================================
    Media Quieries
================================================================
================================================================
*/


    /* ------------------------------ */
    /* Medium Screens (Small Desktop) */
    /* ------------------------------ */
        @media only screen and (max-width : 1680px) {

            


        }




    /* ----------------------- */
    /* Medium Devices (Tablet) */
    /* ----------------------- */
        @media only screen and (max-width : 1300px) {




        }





    /* ---------------------- */
    /* Small Devices (Mobile) */
    /* ---------------------- */
        @media only screen and (max-width : 1024px) {


        }

